body{
    background-image: url("https://media.istockphoto.com/photos/teacher-desk-full-of-books-against-a-blackboard-background-whit-copy-picture-id1251272960?b=1&k=20&m=1251272960&s=170667a&w=0&h=Qmt1F9P1-XQB4DqLqMLHXbGxI4j_92CZkrAHukjJk3E=");
    background-repeat: no-repeat;
    background-size: cover;
}
.image-carousel{
    margin: auto;
    margin-top: 20px;
    width: 50%;
    height: 300px;
    background-color: gray;
}
.footer-containor{
    margin: auto;
    margin-top: 50px;
    width: 90%;
    height: 200px;
    background-color: gray;
}
#contact-containor{
    
    margin-top: 50px;
    width: 45%;
    height: 100px;
    background-color: yellow;
    float: left;
    
}
#about-containor{
    width: 45%;
    height: 100px;
    background-color: green;
    float: right;
}
